/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  







  nav {
    height: 30vh;
    font-size: xx-large;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10rem;
    flex-wrap: wrap;
    background-image: url("./public/pictures/nav.jpg");
    background-size: cover;
    background-position: center center;
    
  }



  

  .fotoalbum{
    
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50vh;
        
        color: rgba(255, 255, 255, 0.626);
        cursor: pointer;
        flex: 0.5;
        margin: 10px;
        position: relative;
        -webkit-transition: all 700ms ease-in;
        
      
      

  }
  #AlbumContainer{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    
  }
body {
background: black;
background-size: 100%;
}
nav > ul {
    display: flex;
    gap: 2rem;
  }

footer {
text-align: center;
color:beige;
}