/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li {
    list-style-type: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Mina:wght@400;700&display=swap');
  
  @font-face {
    font-family: "Mina";
    src: url("./public/fonts/Mina-Regular.ttf");
  }






  nav {
    height: 30vh;
    font-size: xx-large;
    display: flex;
    justify-content:center;
    align-items: center;
    gap: 10rem;
    flex-wrap: wrap;
    background-image: url("./public/pictures/nav.jpg");
    background-size: cover;
    background-position: center center;
    
    
  }



  

  .fotoalbum{
    
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 50vh;
        
        color: rgba(255, 255, 255, 0.626);
        cursor: pointer;
        flex: 0.5;
        margin: 10px;
        position: relative;
        transition: 0.8s ease;
  }

.fotoalbum:hover{
transition: all 0.6s ease;
filter: brightness(200%);
}
        
      
      

  
  #AlbumContainer{
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    
    
  }
body {
background: black;
background-size: 100%;
font-family: "Mina";
}
nav > ul {
    display: flex;
    gap: 2rem;
  }

footer {
text-align: center;
color:beige;
vertical-align: text-bottom;
margin-top: 80px;
}

p{
    text-align: center;
    margin-top:23rem;
}
 .modal{
    background-color: black;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 10rem;
    height: 10rem;
    color: white;

 }
